<nav class="navbar navbar-inverse" style="background-color: rgb(61, 3, 61);">
  <div class="navbar-header">
    <div class="mainlogo">
      <h3 style="color:white;">Virago</h3>
    </div>
    <div class="tagname"> 
      <h6>Women Empowernment</h6>
    </div>
</div>
  <ul class="nav navbar-nav"> 
    <li><a [routerLink]="['']" class="navbar-brand" style="color:orange;">Home</a></li>
    <li><a [routerLink]="['/step']" style="color:orange;">STEP</a></li>
    <li><a [routerLink]="['/ngo']" style="color:orange;">NGO</a></li>
    <li><a [routerLink]="['/faq']" style="color:orange;">FAQ</a></li>
    <li><a [routerLink]="['/legislation']" style="color:orange;">Legislation</a></li>
    <li><a [routerLink]="['/about']"  style="color:orange;">ABOUT US</a></li> 
  </ul>
  <ul class="nav navbar-nav navbar-right"> 
    <li><a [routerLink]="['/signin']" id="signin" style="color:orange;">Signin</a></li>
    <li><a [routerLink]="['/signup']" id="signup" style="color:orange;">Sign up</a></li>
  </ul>
</nav>