@media screen and (max-width: 600px) {
    .navbar {
        overflow: auto;
    }
      .navbar-header a {
        text-align: right;
        padding: 20px;
        color: white;
        float:right;
        height: 5px;
      
    }
      .navbar-header a:hover {
        color:black;
        background-color:pink;
    
      }
      
    }
      .mainlogo img {
        
        width: 100%;
        margin-left:-17%;
        height: 75px;
        
    }
    
    .tagname h6 {
        font-family: 'Lobster', cursive;
        display:inline;
        margin-left: -30%;
        padding-left:30%;
        padding-top: 60%;
        padding-bottom: 10px;
        font-style: italic;
        height:2%;
        color: rgb(228, 122, 228);
        
    }