<app-header></app-header>
<div class=container>
        <h2 ><u>Guidelines for STEP</u></h2>
        <p> NOTE: Your email address given at the time of registration is your LOGIN ID.</p>
        <br/>
        <p>STEP 1:  click on Register tab.</p>
        <p>STEP 2:  Enter your Fullname,Email Address,Contact no.,Valid Adhar card number,Password.</p>
        <p>STEP 3:  After filling details,click on Submit Button.</p>
        <p>STEP 4:  After succesful registration,you will receive an email for validation.</p>
        <p>STEP 5:  After Signup,Log in with your email id and password credentials.</p>
        <p>STEP 6:  Check for available programmes and facilities.</p>
        <p>STEP 7:  Register for prograames or facilities, willing to attend.</p>
        <p>STEP 8:  Enter your details for registration.</p>
        <h4>IMPORTANT NOTICE!</h4>
        <p>If you have forgotten or do not have access to both your registered Email and Mobile No., you are requested
            to send a Notarised Affidavit along with your Identity proof and Address proof to Head, INSPIRE
            Programme Division, DST, clearly informing your complete details. Please mention your new email address
            & new mobile No. in the affidavit. After the receipt of the affidavit, the DST-INSPIRE shall check the
            credentials of the online applicant and inform him/her about further process through email only</p>
 </div>


