<h3>Search here for Which city you want occomodation?</h3>
<input type="text" placeholder="search city name" [(ngModel)]=searchbox name="searchbox" />

<table  id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Capacity
            </th>
            <th>
                City
            </th>
            <th>
                Click To Apply
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fac of FacilityList | filter:searchbox ">
            <td>
                {{fac.n_FacName}}
            </td>
            <td>
                {{fac.n_FacCapacity}}    
            </td>
            <td>
                {{fac.n_FacCity}}    
            </td>
            <td>
                <input type="button" value="Apply" (click)="FacApply(fac.n_FacId)">    
            </td>
        </tr>
    </tbody>
</table>
