<app-header></app-header>
<div class=container>
        <h2><u >Funding Norms for NGOs</u></h2><br/>
        <h4> Norms for Financial Assistance to NGOs </h4>
        <h5>The financial assistance is given to Non-Government Organizations (NGOs)/ Voluntary Organizations (VOs) working for the welfare schemes of the Ministry of Social Justice and Empowerment.</h5>
        <br/>
        <h4>The details  of schemes and criteria for providing financial assistance  under the said schemes are given below.</h4>
        <br/>
        <h4>The following mechanism is in place for monitoring and better implementation of the Scheme:</h4>
        <br/>
        <li>Mandatory annual inspection by District Authorities.</li><br/>
        <li>Scrutiny of proposals by Multi Disciplinary State Level Grant-in-aid Committee.</li><br/>
        <li>Mandatory submission of audited statement of accounts and Utilization Certificate duly verified by Chartered Accountants.</li><br/>
        <li>Monitoring by State Government/UT Administrations.</li><br/>
        <li>Surprise inspection/ visits of NGOs by States/UTs and Central teams.</li><br/>
        <li>This information was given by Minister of State for Social Justice and Empowerment Shri Rattan Lal Kataria in a written reply in Rajya Sabha today.</li><br/>
        <h3><u>Fund Raising</u></h3>
        <h4>NGOs can get,organise  and raise funds from various methods,processes,programmes,project and activities:</h4><br/>        <li>Getting grants from Funding agencies through projects.</li><br/>
        <li>Funding from International Funding Agencies.</li><br/>
        <li>Funding from Government Schemes.</li><br/>
        <li>Fund Raising from Corporate CSR.</li><br/>
        <li>Student and Child Sponsorship Programmes.</li><br/>
        <li>Placing Donation Boxes.</li><br/>
        <li>Fund Raising using Internet Techniques.</li><br/>
        <li>Funding Appeal on Facebook Pages.</li><br/>
        <li>Appeals from Direct Mailing Applications</li><br/>
        <li>Organising Fund Raising Events.</li><br/>
        <li>Organising Culture Events.</li><br/>
        <br/>
        <br/>
        <br/>
        <p>****</p>
</div>
    

