<app-header></app-header>
<div class="container">
    <h2 style="color: mediumpurple">Criteria</h2><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="text-align: left;font-size: x-large">What are the Categories of NGOs for Registration ?</button>
    <div id="demo" class="collapse" style="width: 900px">
        First priority is district-based Community Development NGOs and Women’s NGOs that work at the community (village) level and /or that build capacity and provide support to emerging NGOs and CBOs at the village level.
        The second priority is NGOs that are district-level branches of NGOs , and that demonstrate significant local autonomy and capacity.
    </div><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1" style="text-align: left;font-size: x-large">What is the General Criteria for NGOs ?</button>
    <div id="demo1" class="collapse"style:width:600px >
        NGOs should be not-for-profit, non-governmental, organized, independent, self-governing,<br/>
         and voluntary, providing ngo consultancy for other organization..
    </div><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" style="text-align: left;font-size: x-large">What Documents are required for Registration ?</button>
    <div id="demo2" class="collapse"style:width:600px >
     NGOs must hold valid NGO certificate registered under Governments Departments.<br/>
     The department may be called the Department of Social Development, the Ministry<br/>
     of Social Justice and Empowerment,or the Bureau of Democracy, Human Rights, and Labor
        
    </div><br/>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="text-align: left;font-size: x-large">What are the  rules and regulations associated with NGO status ?</button>
    <div id="demo3" class="collapse"style:width:600px >
    Your country may require you to confirm your NGO status annually by providing documentation and information that<br/>
    shows you are operating as a non-profit.You may also need to adhere to certain labor laws and organizational laws to <br/>
    maintain your NGO status. Your applicable government body should inform you<br/>
    of the rules and regulations attached to your NGO status so you can follow them<br/>
    </div><br/>
   
