<app-header></app-header>
<div class="container">
    <h2 style="color: mediumpurple">FAQS</h2><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="text-align: left;font-size: x-large">What is STEP ?</button>
    <div id="demo" class="collapse" style="width: 900px">
        Support to Training and Employment Programme for Women (STEP)
    </div><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1" style="text-align: left;font-size: x-large">What are the Aims of STEP ?</button>
    <div id="demo1" class="collapse"style:width:600px >
        The Support to Training and Employment Programme for Women (STEP) Scheme aims to provide skills that<br/>
         give employability to women and to provide competencies and skill that enable women to become <br/>
         self-employed/ entrepreneurs.
        
    </div><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" style="text-align: left;font-size: x-large">What is the Eligiblity Criteria For STEP ?</button>
    <div id="demo2" class="collapse"style:width:600px >
        All Women who are in the age group of 16 years and above.Working women or Home Makers <br/>
        who may be single, widowed, divorced,separated, married 
        
    </div><br/>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="text-align: left;font-size: x-large">What are the Sectors for training ? </button>
    <div id="demo3" class="collapse"style:width:600px >
        Sectors include Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching,<br/>
         Embroidery, Zari etc, Handicrafts, Computer & IT enable services along with soft skills and<br/>
         skills for the workplacesuch as spoken English, Gems &Jewellery etc.
    </div><br/>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4" style="text-align: left;font-size: x-large">What are the facilities provided under STEP ? </button>
    <div id="demo4" class="collapse"style:width:600px >
       To provide availability of safe and conveniently located accommodation for working women,<br/>
        with day care facility for their children,wherever possible, in urban,semi urban, or<br/>
         even rural areas where employment opportunity for women exist.
    </div>