<h3>Search here for Which city you want occomodation?</h3>
<input type="text" placeholder="search city name" [(ngModel)]=searchbox name="searchbox" />

<table  id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Ngo Name
            </th>
            <th>
                Ngo Address
            </th>
            <th>
                Ngo Contact
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ngo of ngodata | filter:searchbox ">
            <td>
                {{ngo.ngoname}}
            </td>
            <td>
                {{ngo.ngoaddress}}    
            </td>
            <td>
                {{ngo.ngocontact}}    
            </td>
        </tr>
    </tbody>
</table>
