<table align="center" width="60%" bgcolor="#00FF00" >
    <tr height="60" >
        <th style=" background-color: grey;color:white">Type of programmes</th>
        <th style=" background-color: grey;color:white">Choose programme</th>
        
    </tr>
            <tr>
                <td>
                 Training programme
                </td>
                <td width="70%" height="60"><input type="button" [routerLink]="['/step/registration/trprogramme']"  value="Show Training Programmes" style="background-color:green;color:white;" /> </td>
                
            </tr>
            <tr>
                <td>
               Facility            </td>
                <td height="60"><input type="button" [routerLink]="['/step/registration/facility']"  value="Show Facilities" style="background-color:green;color:white;" />
                </td>
            </tr>
</table>
