<app-header></app-header>
<div class="box">
  <h3>What is NGO and how it works?</h3>
  <pre>
      <p> NGO is a non-profit organization which works towards the betterment of society. 
      It's a broad term. NGO's are organized on a local, national and international level to serve specific local and political issues. 
      NGO's rely on various sources for funding projects, and salaries.</p></pre>

  <h3>What is the main purpose of NGO?</h3>
  <pre>
      <p> The primary purpose of an Advocacy NGO is to defend or promote a specific cause. 
      As opposed to operational project management, these organizations typically try to raise awareness, acceptance and knowledge by lobbying, press work and activist event.</p></pre>
  <img src="/assets/3.jpg" class="center">
  <h3>What are the functions of NGOs?</h3>
  <pre>
      <p> 1. provide free education to the poor or economically backward children
      
      2. conduct free classes in small groups to the poor children
      
      3. provide medical facilities to the rural poor.
      
      4. work for the welfare and upliftment of the women
      
      5. reduce pollution of the environment
      
      6. providing shelter to the orphans, old aged, destitute and even animals
      
      Many NGOs in India offer jobs to the people at various levels. 
      Offering voluntary service in an NGO gives satisfaction and a chance to work for the society or for a social cause.</p></pre>

  <!--<img src="/assets/4.jpg" class="center1">
      <img class="mySlides" src="2.jpg" style=" width: 100%;height:450px;">
      <img class="mySlides" src="4.jpg" style=" width:100%;height:450px;">-->
</div>