<app-header></app-header>
<div class=container>
<h5>Community</h5>
<h2><li>Women Empowerment Teacher</li></h2>
<h4 style="color: blue;" >Volunteering With India (VWI) (Jaipur,India)</h4>
<h6  style="color:orange">Non-profit·founded in 2010</h6>
<p style="font-weight: bold; font-size:medium;">Join our women empowerment program for the women who live in rural areas, slums and backward villages in Jaipur, India. </p>
    <h3 style="color:orange">The Program </h3>
<p style="font-size: medium;">This program has been created with the aim to educate and provide training for women who live in rural areas, slums, villages and those who come from BPL (Below Poverty Line) families. Every day women and young girls come to our center for a basic education. Many of the women who visit our center are unable to read or write, as educating women is just not a priority in so many of the impoverished areas of India.</p>
<br/>
<p style="font-size: medium;">Basic classes in spoken and written English and mathematics are offered. English has become a global communication language, building a bridge between many areas of the world. It is so important for these women to see themselves and others as being able to take part in such global conversation.</p>
<br/>

<p style="font-size: medium;">Perhaps most practical is that we provide training in many of the areas that these women will likely find work. Classes in stitching work, drawing and henna paint provide these women with the skills to access available work or even start their own business.</p>
<br/>
<h3 style="color: gray;">Require­ments</h3>
<h4 style="font-weight: bold;"><li>Language skills</li></h4>
<p>You need to speak English (basic level)</p>
<h4 style="font-weight: bold;"><li>Criminal Background Check</li></h4>
<p>required</p>
<h4 style="font-weight: bold;"><li>Education Requirements</li></h4>
<p>High School level</p><br/>

<h2><li>Women Empowerment Supporter in rural villages</li></h2>
<h4 style="color: blue;" >Pari Voluntourism Solutions (Dharamshala,India)</h4>
<h6  style="color:orange">Agency· founded in 2013</h6>
<p style="font-weight: bold; font-size:medium;">Support women in rural villages for their social justice</p>
    <h3 style="color:orange">The Program </h3>
<p style="font-size: medium;">In the simplest of words it is basically the creation of an environment where women can make independent decisions on their personal development as well as shine as equals in society. This can only happen if there is a channelized route for the empowerment of women. There are several challenges that are currently plaguing the issues of women’s rights in India. While a lot of these are redundant and quite basic issues faced across the country, these are contributory causes to the overarching status of women in India. Our volunteers will work with local village girls and women as a helper. This program enables you to support women in their recreation for healthy and sustainable livelihoods. Women's groups provide a forum for issues such as family health, women's rights, and access to resources, income generation, and other challenges women face in their daily lives.</p>
<br/>
<p style="font-size: medium;">Volunteers have the opportunity to exchange ideas, collaborate in ongoing projects, teach basic English skills, help with small businesses, and be a positive role model. You can also provide support in many other ways, depending on your skills and interests and the needs of the local community. So, Pari Voluntourism Solutions invites all interested national and international volunteers to be a part of our women development program. Your small effort can make a big difference to the women in the most marginalized communities.</p>
<br/>

<h3 style="color: gray;">Require­ments</h3>
<h4 style="font-weight: bold;"><li>Language skills</li></h4>
<p>You need to speak English (basic level)</p>
<h4 style="font-weight: bold;"><li>Criminal Background Check</li></h4>
<p>required</p>
<h4 style="font-weight: bold;"><li>Education Requirements</li></h4>
<p>High School level</p>
<h4 style="font-weight: bold;"><li>Time Commitment</li></h4>
<p>Your helping hand will be required on Monday, Tuesday, Wednesday, Thursday and Friday from 10:00 - 15:0</p>

</div>

