<div class="container">
    <h2 style="color: mediumpurple">National Policy for Women</h2><br />
    <p style="font-size: medium;">Virago welcomes the National Policy for Women 2020 (Draft) and appreciates the
        Ministry’s commitment to achieving the national and international commitments as stated in the Policy,
        especially the Sustainable Development Goals with the emphasis on poverty, inequality, and violence against
        women (Point 1.2). Women comprise half of the country’s population and efforts to achieve the SDGs would need
        urgent attention to the points raised in the Policy. Drastic socio-economic, political, and scientific changes
        are witnessed across the country in the past few decades and hence, a revision of the existing National Women
        Empowerment Policy 2001, was a need of the hour. </p>
    <h4>(Section I) Health including food and nutrition</h4>
    <li>
        Ensuring access to contraceptive services is an important issue, especially considering the repeated episodes of
        women’s deaths due to mass unsafe sterilisation in camps. In addition to this another important issue would be
        the violence and disrespect experienced by women in accessing these services.
    </li>
    <li>
        There is no mention of abortion services in the Policy. Discourses around women’s right to safe and respectable
        abortion should be encouraged.
    </li>
    <li>
        The front line health workers (ASHA, ANMs, Anganwadi workers) are women. Hence, their safety and security should
        be prioratised. They should be provided with adequate financial resources (timely payment, minimum salary) and
        also support systems to function effectively.
    </li>
    <h4>(Section II) Education</h4>
    <li>The Central Advisory Board of Education Committee on Education has recommended the extension of Right to
        Education (RTE) from pre-primary to secondary education. This draft includes the pre-primary, but not
        considering the secondary. However, we would like to recommend its extension up to higher secondary. </li>
    <li>t is not possible to monitor the status of the education for each girl child to know whether they are in the
        system, without engaging ‘Panchayats’. As per Panchayati Raj Act, 1992 every panchayat has to maintain a
        register of all children in the villages. They can maintain the list and monitor the status of children,
        especially girls.</li>
    <h4> Violence against Women</h4>
    <li>
        Addressing violence against women and girls (VAWG) as a cross cutting issue throughout the Policy: Oxfam India
        recommends that all sectors including education, health, agriculture, industry, environment should have a
        separate explicit analysis of gender based discrimination and violence as an integral part of each sector. For
        each sector, it is necessary that steps are taken for making spaces safer and free of discrimination and
        violence.
    </li>
    <li>
        The need for valid and recent data on aspect related to women and girls is of prime importance to be able to
        develop and implement thematic policies and programmes related to women and girls. This becomes more important
        in the case of VAWG, particularly domestic violence, as the data related to the prevalence and acceptance of
        violence is scant.
    </li>

</div>