<div class="container-fluid">
    <div class="row" style="height:90px;background-color:brown;padding-top: 10px; color:white;text-align:center;">
        <div class="col-lg-12">
        <h1>Non Governmental Organization (NGO)</h1>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" style="background-color:	brown">
<div class="container-fluid" style="height:65px;margin-top:15px;padding-top: 20px;">
    <div class="navbar-header">
    <ul class="nav nav-pills" role="tablist" style="float:right;">
        <li><a [routerLink]="['/ngo/criteria']" style="color:orange;">Criteria</a></li>
        <li><a [routerLink]="['/ngo/organisation']" style="color:orange;">Organizations</a></li>
        <li><a [routerLink]="['/ngo/funding']" style="color:orange;">Funding Norms</a></li>
        <li><a [routerLink]="['/ngo/registration']" style="color:orange;">Registration</a></li>
        <li><a [routerLink]="['/ngo/login']" style="color:orange;">Login</a></li>
        <li><a [routerLink]="['/ngo/ngostatus']" style="color:orange;">Status</a></li>
        <li><a [routerLink]="['/ngo/ngofaq']" style="color:orange;">FAQ</a></li>
    </ul>
    </div>
</div>
</nav>
  