<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Page Title</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='main.js'></script>
<div class="container">
    <h2 style="color: mediumpurple">FAQS</h2><br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"
        style="text-align: left;font-size: x-large">What is Women Empowerment ?</button>
    <div id="demo" class="collapse" style="width: 900px">
        The concept of empowerment flows from the word “power”.Empowerment of women would mean encouraging women to be
        self reliant, economically independent,have positive self esteem, confidence to face any problem, active
        participation
        in every field and granting the freedom to have their own choices in life.
    </div><br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1"
        style="text-align: left;font-size: x-large">Which areas does Virago works in ?</button>
    <div id="demo1" class="collapse" style:width:600px>
        There are four primary areas in which we run programmes, namely education, health, livelihoods and disaster
        <br />
        preparedness and response. Our work includes bringing about gender transformative change, building
        resilience<br />
        and inclusive governance.
    </div><br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2"
        style="text-align: left;font-size: x-large">What is the FootPrint Of Virago ?</button>
    <div id="demo2" class="collapse" style:width:600px>
        We work in 14 states in India. They are Assam, Bihar, Chhattisgarh, Delhi/NCR, Gujarat, Haryana, Jharkhand,
        <br />
        Madhya Pradesh,Maharashtra,Odisha, Punjab, Rajasthan, Tamil Nadu and Uttar Pradesh. Our work focuses <br />
        on India; we do not have projects in other countries.
    </div>
    <br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3"
        style="text-align: left;font-size: x-large">What are the Primary Source OF Virago's Funding ? </button>
    <div id="demo3" class="collapse" style:width:600px>
        We receive funding from individuals like you, corporates and institutions.
    </div>
    <br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4"
        style="text-align: left;font-size: x-large">How do we choose our projects ? </button>
    <div id="demo4" class="collapse" style:width:600px>
        We choose projects based on our strategic programming framework, which provides guidance on matters of <br />
        where we work, with whom and for what outcome.
    </div>
    <br />
</div>
