<app-header></app-header>

<h2>1.Embroidering work</h2>
<pre>
    <div class="embroidery">
    <b style="color: goldenrod;">Women empowerment through Embroidering centers:</b>
    Embroidery is the craft of decorating fabric or other materials using a needle to apply thread or yarn.

    Embroidery may also incorporate other materials such as pearls, beads, quills, and sequins. 
    In modern days, embroidery is usually seen on 
    caps, hats, coats, blankets, dress shirts, denim, dresses, stockings, and golf shirts. 
    Embroidery is available with a wide variety of thread or yarn color.
    
    Some of the basic techniques or stitches of the earliest embroidery are
     chain stitch, buttonhole or blanket stitch, running stitch, satin stitch, cross stitch. 
    Those stitches remain the fundamental techniques of hand embroidery today.


    The process used to tailor, patch, mend and reinforce cloth fostered the development of sewing techniques,
     and the decorative possibilities of sewing led to the art of embroidery.
     Indeed, the remarkable stability of basic embroidery stitches has been noted:

    It is a striking fact that in the development of embroidery ... there are no changes of materials or
     techniques which can be felt or interpreted as advances from a primitive to a later, more refined stage. 
    On the other hand, we often find in early works a technical accomplishment and high standard of craftsmanship rarely attained in later times.


    The art of embroidery has been found worldwide and several early examples have been found. 
    Works in China have been dated to the Warring States period.
    In a garment from Migration period Sweden, roughly 300–700 AD, the edges of bands of trimming are reinforced with 
    running stitch, back stitch, stem stitch, tailor's buttonhole stitch, and whip-stitching, 
    but it is uncertain whether this work simply reinforced the seams or should be interpreted as decorative embroidery.
</div>

</pre>

<h3>2.Tailoring</h3>
<pre>
    <p class="tailoring">

        <b style="color: orangered;font-size: 20px;">Women empowerment through Tailoring centers:</b>

        Women have always been marginalized and downgraded to the status of subjugated class in the Indian society.
        Due to lack of specific implementation of plans, 
        local communities especially women have remained outside the scope and benefits of government schemes and programs.
        Women have not actively participated in their emancipation due to their lack of economic independence and illiteracy. 
        There is a need to address the issue by raising the status of women.
        Keeping this issue in mind ESCO started running training programs for the empowerment of women.

        The main objective of this tailoring training program is to enhance 
        the quality of life of women and teenage girls through enhancement of their skills and knowledge.
        Due to poverty, these teenage girls drop out of high school to get married and work as temporary farm workers, sweepers and manual scavengers.
        They needed to learn newer vocational skills such as tailoring (sewing) 
        which can help them earn more income and become economically self-sufficient and independent. 
        This will alleviate poverty, help them support their family needs without being dependent of husband and parents. 
        In order to help them, ESCO started free tailoring (sewing) training centers in various locations.

        In these training canters, tailoring skills are imparted free of cost. 
        Students are trained by a qualified professional tailoring teacher.
        Certificates are given to those who successfully complete the course. 
        These tailoring classes enable women/Girls in rural and sub-urban areas to earn on their own, making them self-confident and self-dependent. 
        After completing of 6 months training, some women/Girls can start their own tailoring shops,
        while many can secure well-paying jobs in the export garment factories in the nearby areas, or sub-contract work from large tailoring shops.
        
    </p>
</pre>
        <div class="row">
            <div class="column">
              <img src="/assets/emb2.jpg" style="width:100%">
            </div>
            <div class="column">
              <img src="/assets/emb1.jpg" style="width:100%">
            </div>
            <div class="column">
                <img src="/assets/emb3.jpg" style="width:100%">
              </div>
        </div>







