<app-header></app-header>
<div class="box">
  <h4>What is STEP ?</h4>
  <pre>
      <p> 
      Ministry of Women & Child Development. 
      STEP Scheme aims to provide skills that give employability to women and
      To provide competencies and skill that enable women to become self-employed/entrepreneurs</p></pre>
  <img src="/assets/seven.jpg" class="center">
  <h3>About STEP services?</h3>
  <pre>
      <p>
      The Ministry of Women and Child Development (MWCD) has invited applications from organizations/ NGOs as per revised guidelines of Support to Training and Employment Programme for Women (STEP) Scheme. 
      The guidelines were revised in December 2014.
      
      The Ministry has been administering ‘Support to Training and Employment Programme for Women (STEP) Scheme’ since 1986-87 as a ‘Central Sector Scheme’. 
      The STEP Scheme aims to provide skills that give employability to women and to provide competencies and skill that enable women to become self-employed/ entrepreneurs. 
      The Scheme is intended to benefit women who are in the age group of 16 years and above across the country including rural women. 
      The grant-in-aid under the Scheme is given to institutions/ organizations including NGOs.
       The assistance under STEP Scheme will be available in any sector for imparting skills related to employability and entrepreneurship, including but not limited to the Agriculture, Horticulture, Food Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc, Handicrafts, Computer & IT enable services along with soft skills and skills for the work place such as spoken English, Gems & Jewellery, Travel & Tourism, Hospitality.
      
      The proposals under STEP are considered as per the scheme guidelines. 
      For proposals of organizations from North Eastern States, verification of credentials is got done through Ministry of Home Affairs before release of funds.</p></pre>

  <!-- <img class="mySlides" src="/assets/one.jpg" style=" width:100%;height:450px;">
       <img class="mySlides" src="/assets/two.jpg" style=" width: 100%;height:450px;">
      <img class="mySlides" src="/assets/four.jpg" style=" width:100%;height:450px;"> -->

</div>